html, body, input, textarea, option{
    height: 100%;
    font-family: 'Courier New', Courier, monospace;
}
body{
    background-color: rgb(255, 249, 245);
}

nav{
    position: fixed;
    z-index: 2;
}

nav a img, .sidebar a img{
    padding-left: 10px;
    max-width: 3rem;
    max-height: 3rem;
}

.sidebar{
    padding-top: 70px;
    width: 250px;
    height: 100%;
    position: fixed;
    z-index: 1;
    font-size: large;
    font-weight: 500;
    border-left: 2px solid rgb(252, 122, 99);
    border-right: 2px solid rgb(252, 122, 99);
}
.sidebar li{
    padding-top: 25px;
    padding-left: 80px;
}

.sidebar a:hover{
    font-weight: bold;
}
.toplink{
    padding-bottom: 25px;
}
@media only screen and (max-width: 600px) {
    .sidebar {
      width: 150px;
    }
    .sidebar ul{
        position: absolute;
        left: -30%;
    }
    .journal-form{
        margin: 0px;
        position: absolute;
        left: -30%;
    }
    .entry-card{
        margin: 0px;
        position: absolute;
        left: -36%;
    }
  }


.main{
    padding-left: 250px;
    padding-top: 65px;
    position: absolute;
}
.main h4{
    width: fit-content;
}
.main i{
    font-size: 200px;
}
.main .btn{
    margin-top: 10px;
}
.main img{
    max-width: 500px;
    max-height: 500px;
}

.bio{
    padding-left: 70px;
}

.input-field input{
    font-family: 'Courier New', Courier, monospace;
    color: rgb(252, 122, 99);
}
.input-field input:focus{
    border-bottom: 1px solid rgb(252, 122, 99) !important;
    color: rgb(252, 122, 99);
}
#edit-form{
    padding-bottom: 800px;
}

.modal-close{
    font-family: 'Courier New', Courier, monospace;
}
.input-field #bio, .input-field #entry, .input-field #description{
    color: rgb(252, 122, 99);
    font-family: 'Courier New', Courier, monospace;
}
.input-field #bio:focus, .input-field #entry:focus, .input-field #description:focus{
    border-bottom: 1px solid rgb(252, 122, 99) !important;
    color: rgb(252, 122, 99);
}
#edit-form > div > form > div:nth-child(1) > label{
    color: rgb(252, 122, 99);
}
#edit-form > div > form > div.input-field.col.s12.selector > div > input{
    font-family: 'Courier New', Courier, monospace;
}

.journal-form, .entry-card{
    width: 300px;
}
.journal-form .btn{
    font-family: 'Courier New', Courier, monospace;
}
.datepicker{
    font-family: 'Courier New', Courier, monospace;
}
.datepicker-date-display {
    background: rgb(252, 122, 99) !important;
}
.datepicker-calendar-container {
    color: rgb(153, 150, 147) !important;
    font-family: 'Courier New', Courier, monospace !important;
}
.is-today {
    color: rgb(252, 122, 99) !important;
}
.is-today.is-selected{
    color: white !important;
}
.datepicker-table td.is-selected {
    background: rgb(252, 122, 99) !important;
}
.datepicker-cancel, .datepicker-done {
    color: rgb(252, 122, 99) !important;
    font-family: 'Courier New', Courier, monospace !important;
}
#select-options-4f9e28c8-3f83-6878-41e7-a875431f8fae > span{
    color: rgb(252, 122, 99) !important;
}
#entry{
    color: rgb(252, 122, 99);
    font-family: 'Courier New', Courier, monospace;
}
.input-field #entry:focus{
    border-bottom: 1px solid rgb(252, 122, 99) !important;
}
body > div.main > div > div.card.journal-form > form > div.card-content > span > div > label, body > div.main > div > div.card.journal-form > form > div.card-content > div > label{
    color: rgb(252, 122, 99);
}