html, body, input, textarea{
    height: 100%;
    font-family: 'Courier New', Courier, monospace;
}
body{
    background-color: rgb(255, 249, 245);
}

nav{
    position: fixed;
    z-index: 2;
}

nav a img, .sidebar a img{
    padding-left: 10px;
    max-width: 3rem;
    max-height: 3rem;
}

.sidebar{
    padding-top: 70px;
    width: 250px;
    height: 100%;
    position: fixed;
    z-index: 1;
    font-size: large;
    font-weight: 500;
    border-left: 2px solid rgb(252, 122, 99);
    border-right: 2px solid rgb(252, 122, 99);
}
.sidebar li{
    padding-top: 25px;
    padding-left: 80px;
}

.sidebar a:hover{
    font-weight: bold;
}
.toplink{
    padding-bottom: 25px;
}


.main{
    padding-left: 250px;
    padding-top: 65px;
    position: absolute;
}
.main h4{
    width: fit-content;
}
.main i{
    font-size: 200px;
}
.main .btn{
    margin-top: 10px;
}
.main img{
    max-width: 500px;
    max-height: 500px;
}

.bio{
    padding-left: 70px;
}

.input-field input{
    color: rgb(252, 122, 99);
}
.input-field input:focus {
    border-bottom: 1px solid rgb(252, 122, 99) !important;
    color: rgb(252, 122, 99);
}

.modal-close{
    font-family: 'Courier New', Courier, monospace;
}
.input-field #bio{
    color: rgb(252, 122, 99);
    font-family: 'Courier New', Courier, monospace;
}
.input-field #bio:focus{
    border-bottom: 1px solid rgb(252, 122, 99) !important;
    color: rgb(252, 122, 99);
}
#edit-form > div > form > div:nth-child(1) > label{
    color: rgb(252, 122, 99);
}